<form name="{{name}}" class="form-horizontal" novalidate>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {{heading}}
                <i class="fa fa-exclamation-circle text-danger" ng-show="form().$dirty && form().$invalid"></i>
            </h4>
        </div>
        <div class="panel-body" ng-transclude>
        </div>
        <div class="panel-footer">
            <div class="clearfix">
                <div class="pull-right">
                    <button class="btn btn-danger mg-form-button" ng-click="delete()" ng-hide="form().$dirty || !deletable">
                        <i class="fa fa-trash"></i>
                        Delete
                    </button>
                    <button class="btn btn-default mg-form-button" ng-click="back()" ng-hide="form().$dirty">
                        <i class="fa fa-chevron-left"></i>
                        Back
                    </button>
                    <button class="btn btn-warning mg-form-button" ng-click="undo()" ng-show="form().$dirty">
                        <i class="fa fa-undo"></i>
                        Cancel
                    </button>
                    <button class="btn btn-primary mg-form-button" ng-click="save()" ng-show="form().$dirty" ng-disabled="form().$invalid">
                        <i class="fa fa-save"></i>
                        Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
