<mg-controller>
    <mg-proc name="Entity" source="pr_Entity" type="singleton" autoexec="true">
        <mg-proc-param name="EntityId" type="route" value="EntityId" required="true"></mg-proc-param>
    </mg-proc>
    <mg-proc name="EntityTypes" source="pr_EntityTypes" autoexec="true">
        <mg-proc-param name="EntityId" type="route" value="EntityId"></mg-proc-param>
    </mg-proc>
    <mg-proc name="Countries" source="pr_Countries" autoexec="true">
    </mg-proc>
    <mg-form>
        <mg-panel heading="{{Entity.Name || 'New Entity'}}">
            <div class="panel-body">
                <div class="form-group">
                    <label for="Name" class="control-label col-sm-3">Name</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="Entity.Name" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="Address" class="control-label col-sm-3">Address</label>
                    <div class="col-sm-9">
                        <textarea class="form-control" id="Address" ng-model="Entity.Address" rows="5"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="CountryId" class="control-label col-sm-3">Country</label>
                    <div class="col-sm-9">
                        <select id="CountryId" class="form-control" ng-model="Entity.CountryId" ng-options="Country.Id as Country.Name for Country in Countries"></select>
                    </div>
                </div>
                <div class="form-group" ng-repeat="Type in EntityTypes">
                    <div class="col-sm-9 col-sm-offset-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-model="Type.Active" />
                                {{Type.Description}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="clearfix">
                    <div class="pull-right">
                        <button class="btn btn-primary" ng-click="Save()">
                            <i class="fa fa-save"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        </mg-panel>
    </mg-form>
</mg-controller>
<pre>{{EntityTypes}}</pre>
