<form class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>
                {{Form.Title}}
                <!--<i ng-show="!ValidateForm(Form)" class="fa fa-exclamation text-danger"></i>-->
            </h4>
        </div>
        <div class="panel-body">
            <tabset>
                <tab ng-repeat="Tab in Form.Tabs">
                    <tab-heading>
                        {{Tab.Title}}
                        <i ng-show="!ValidateTab(Tab)" class="fa fa-exclamation text-danger"></i>
                    </tab-heading>
                    <br />
                    <div ng-repeat="Field in Tab.Fields" ng-init="SetupField(Field)" class="form-group" ng-class="{'has-error': !ValidateField(Field)}">
                        <label for="{{Field.Id}}" class="control-label col-sm-3">{{Field.Title}}</label>
                        <div class="col-sm-9">
                            <ng-switch on="Form.Edit">
                                <div ng-switch-when="true">
                                    <ng-switch on="Field.Type">
                                        <input ng-switch-when="dte" type="date" id="{{Field.Id}}" class="form-control" ng-model="Data[Field.Id]" />
                                        <select ng-switch-when="ddn" class="form-control" ng-model="Data[Field.Id]"
                                                ng-options="Item[Field.List.ValueField] as Item[Field.List.TextField] for Item in List(Field.Id)"
                                                ng-disabled="Lists[Field.Id].Values.length == 0">

                                        </select>
                                        <input ng-switch-when="sug" type="text" class="form-control" ng-model="Data[Field.Id]"
                                               typeahead="Item[Lists[Field.Id].TextField] for Item in Lists[Field.Id].Values | filter:$viewValue | limitTo: 5" />
                                        <input ng-switch-default type="Text" id="{{Field.Id}}" class="form-control" ng-model="Data[Field.Id]" />
                                    </ng-switch>
                                </div>
                                <div ng-switch-when="false">
                                    <ng-switch on="Field.Type">
                                        <p ng-switch-when="ddn" class="form-control-static">{{ListValue(Field.Id)}}</p>
                                        <p ng-switch-default class="form-control-static">{{Data[Field.Id]}}</p>
                                    </ng-switch>
                                </div>
                            </ng-switch>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="panel-footer">
            <div class="clearfix">
                <div class="pull-right">
                    <ng-switch on="Form.Edit">
                        <div ng-switch-when="false">
                            <button class="btn btn-sm btn-default" ng-click="Form.Edit = false">
                                <i class="fa fa-chevron-left"></i> Back
                            </button>
                            <button class="btn btn-sm btn-danger" ng-click="Form.Edit = false">
                                <i class="fa fa-trash"></i> Delete
                            </button>
                            <button class="btn btn-sm btn-primary" ng-click="Form.Edit = true">
                                <i class="fa fa-edit"></i> Edit
                            </button>
                        </div>
                        <div ng-switch-when="true">
                            <button class="btn btn-sm btn-danger" ng-click="Form.Edit = false">
                                <i class="fa fa-undo"></i> Undo
                            </button>
                            <button class="btn btn-sm btn-primary" ng-click="Form.Edit = false">
                                <i class="fa fa-save"></i> Save
                            </button>
                        </div>
                    </ng-switch>
                </div>
            </div>
        </div>
    </div>
</form>