<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="main.html" />
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <clear />
    <!--<add name="Database" connectionString="Server=.;Database=Claimsuite;Integrated Security=SSPI;"/>-->
    <add name="Database" connectionString="Server=THAMES;Database=SorcererIrk;UID=sa;PWD=thamessa;"/>
  </connectionStrings>
</configuration>