<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="main.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
    </staticContent>
  </system.webServer>
  <connectionStrings>
    <clear />
    <add name="Database" connectionString="Server=.;Database=Claimsuite;Integrated Security=SSPI;"/>
    <!--<add name="Database" connectionString="Server=THAMES;Database=SorcererIrk;UID=sa;PWD=thamessa;"/>-->
  </connectionStrings>
  <appSettings>
    <clear />
    <add key="SALT_BYTE_SIZE" value="24" />
    <add key="HASH_BYTE_SIZE" value="24" />
    <add key="PBKDF2_ITERATIONS" value="1000" />
    <add key="JWT_ENCRYPTION_KEY" value="3dd!370rr3$7h3M@mb0K!ngFr0mN3wY0rk" />
    <add key="LOGIN_TIMEOUT" value="15" />
  </appSettings>
</configuration>