<form class="form-horizontal">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>{{Form.Title}}</h4>
        </div>
        <div class="panel-body">
            <tabset>
                <tab ng-repeat="Tab in Form.Tabs" heading="{{Tab.Title}}">
                    <br />
                    <div ng-repeat="Field in Tab.Fields" ng-init="SetupField(Field)" class="form-group">
                        <label for="T{{Tab.Index}}F{{Field.Index}}" class="col-sm-3 control-label">{{Field.Title}}</label>
                        <div class="col-sm-9">

                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="panel-footer">
            <div class="clearfix">
                <div class="pull-right">
                    <ng-switch on="Form.Edit">
                        <div ng-switch-when="false">
                            <button class="btn btn-sm btn-default" ng-click="Form.Edit = false">
                                <i class="fa fa-chevron-left"></i> Back
                            </button>
                            <button class="btn btn-sm btn-danger" ng-click="Form.Edit = false">
                                <i class="fa fa-trash"></i> Delete
                            </button>
                            <button class="btn btn-sm btn-primary" ng-click="Form.Edit = true">
                                <i class="fa fa-edit"></i> Edit
                            </button>
                        </div>
                        <div ng-switch-when="true">
                            <button class="btn btn-sm btn-danger" ng-click="Form.Edit = false">
                                <i class="fa fa-undo"></i> Undo
                            </button>
                            <button class="btn btn-sm btn-success" ng-click="Form.Edit = false">
                                <i class="fa fa-save"></i> Save
                            </button>
                        </div>
                    </ng-switch>
                </div>
            </div>
        </div>
    </div>
</form>